{% extends 'base.html' %}
{% load static %}

{% comment %} {% block title %}Home{% endblock %} {% endcomment %}

{% block content %}
    
    <div class="home-hero">
        <h1>Welcome to Novacrest</h1>
        <p>Your success starts here</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Our Mission</h2>
                <p>Our mission is to provide the best mental health services in Nigeria. We are committed to helping you achieve your goals and live a fulfilling life.</p>
            </div>
            <div class="col-md-6">
                <h2>Our Vision</h2>
                <p>Our vision is to be the leading mental health service provider in Nigeria. We are dedicated to helping you reach your full potential and live a happy life.</p>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %}
    <div class="footer">
        <p>&copy; 2024</p>
    </div>
{% endblock %}

</body>

</html>