html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    flex: 3;
    margin: 0;
    padding-left: 100px;
}

.logo img {
    width: 300px;
    height: auto;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-right: 100px;
    gap: 20px;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 2rem;
    color: #000;
}

.text {
    text-align: right;
}

.text p {
    margin: 0;
    font-size: 0.9rem;
    text-align: left;
}

.text a {
    text-decoration: none;
    color: #007bff;
}

.text a:hover {
    text-decoration: underline;
}

/* End of Header */

/* NavBar */

.navbar {
    background-color: #223A66;
    color: #fff;
    padding: 10px 0;
}

.navbar .nav-link {
    color: #fff;
    font-size: 1rem;
    margin-right: 15px;
    transition: color 0.3s;
}

.navbar .nav-link:hover {
    color: #007bff;
}

.navbar .icon {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.navbar .btn {
    font-size: 0.9rem;
    border: 1px solid #fff;
    padding: 5px 10px;
    text-transform: uppercase;
}

.navbar .btn:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

/* Mobile adjustments */
.navbar-toggler {
    border: 1px solid #fff;
}

.navbar-toggler-icon {
    color: #fff;
}



/* End of NavBar */

/* footer */

/* Footer Styling */
footer {
    background-color: #000;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
    color: #bbb;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer .bi {
    font-size: 1.2rem;
    vertical-align: middle;
}

footer .btn {
    background-color: #007bff;
    border: none;
}

footer .btn:hover {
    background-color: #0056b3;
}

/* End of footer */
