<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Novacrest Hospital provides expert care for mental health disorders, addiction treatment, therapy, rehabilitation, and psychiatric services in Abuja, Nigeria. Offering holistic care, counseling, and personalized mental health treatment plans.">
    <meta name="keywords" content=" mental health, psychiatry, rehabilitation, counseling, therapy, Novacrest Hospital, Abuja, Nigeria, rehab centers, addiction treatment
                best psychiatry hospital in Nigeria, best rehabilitation centre in Abuja, best mental hospital in Abuja, best psychiatry hospital in Abuja">
    <meta name="author" content="Novacrest">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://novacresthospital.org.ng/">

    {% comment %} <link rel="icon" href="{% static 'home/images/favicon.png' %}" type="image/png"> {% endcomment %}

    <title>Novacrest Hospital | Leading Mental Health Care In Abuja</title>

     {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <script src="{% static 'js/script.js' %}"></script> 
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1MKZ5NVL0Z"> </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-1MKZ5NVL0Z');
    </script>
    <!-- End of Google tag (gtag.js) -->

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Hospital",
          "name": "Novacrest Hospital",
          "description": "Expert mental health services, including counseling, rehabilitation, and therapy in Abuja, Nigeria.",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Abuja",
            "addressCountry": "Nigeria"
          },
          "url": "https://novacresthospital.org.ng"
        }
        </script>


</head>

<body>
    <!-- Top of the page -->
    <div class="container row">
        <div class="col-3">
            <div class="logo">
                {% comment %} <img src="{% static 'home/images/logo.png' %}" alt="Novacrest Logo" class="img-fluid"> {% endcomment %}
                <h1> NOVACREST HOSPITAL</h1>
            </div>
        </div>
        <div class="col-3">
           <div class="Emergency">
                <i class="bi bi-telephone-x-fill"></i>
               <p>Emergency</p>
               <p>0800 000 0000</p>
        </div>
        <div class="col-3">
            <div class="Work-Hours">
                 <i class="bi bi-hourglass-split"></i>
                <p>Work Hour</p>
                <p>Round The Clock</p>
         </div>
         <div class="col-3">
            <div class="Location">
                 <i class="bi bi-geo-alt-fill"></i>
                <p>Location</p>
                <p>Abuja, Nigeria</p>
            </div>
        </div>

    </div>
    <!-- End of top page -->

    {% comment %} <nav class="navbar navbar-expand-sm navbar-light b">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Novacrest</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services' %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'team' %}">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news' %}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'appoitnment' %}">Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> {% endcomment %}
    {% block content %}
    
    {% endblock  %}
    
    {% block footer %}
    
    {% endblock  %}
</body>

</html