<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="novacrest hospital,psychiatrist, mental disorder, mental illness, drug abuse, rehab centers,therapist, therapy, counselling, rehab, mental, disorder, 
                distinctive, psychology, abuja, mental health, hospital, rehabilitation, nova, crest, psychiatry, best rehab in Abuja, best rehab in Nigeria, best mental hospital in Nigeria, 
                best psychiatry hospital in Nigeria, top mental hospitals abuja, best rehabilitation centre in Abuja, best mental hospital in Abuja, best psychiatry hospital in Abuja">
    <meta name="keywords" content="novacrest hospital,psychiatrist, mental disorder, mental illness, drug abuse, rehab centers,therapist, therapy, counselling, rehab, mental, disorder, 
                distinctive, psychology, abuja, mental health, hospital, rehabilitation, nova, crest, psychiatry, best rehab in Abuja, best rehab in Nigeria, best mental hospital in Nigeria, 
                best psychiatry hospital in Nigeria, top mental hospitals abuja, best rehabilitation centre in Abuja, best mental hospital in Abuja, best psychiatry hospital in Abuja, mental health">
    <meta name="author" content="Novacrest">

    <title>Novacrest Hospital - New Heights in Holistic Care</title>
    {% comment %} {% load static %}
    <link rel="stylesheet" href="{% static 'home/home.css' %}"> {% endcomment %}
    {% comment %} <script src="home/templates/home/home.js"></script> {% endcomment %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% block content %}
    
    {% endblock  %}
      
  <footer>
        <p>&copy; 2024</p>
  </footer>
</body>

</html