{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/about.css' %}">
{% endblock %}

{% comment %} {% block title %}Home{% endblock %} {% endcomment %}

{% block content %}

<!--About Hero Section-->
<div class="about-hero">
    <div class="about-hero-text row">
        <h3>Home / About</h3>
        <h1><strong>About Us</strong></h1>
    </div>
</div>
    
{% endblock %}


{% block footer %}
    <div class="footer">
        <p>&copy; 2024</p>
    </div>
{% endblock %}

</body>

</html